{
    "plugins": [
        [
            "prismjs",
            {
                "languages": [
                    "html",
                    "css",
                    "javascript",
                    "bash",
                    "sql"
                ],
                "theme": "okaidia"
            }
        ]
    ]
}