{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "c",
          "go",
          "python",
          "sql",
          "latex",
          "markup"
        ],
        "plugins": [
          "line-numbers",
          "show-language",
          "highlight-keywords",
          "toolbar",
          "copy-to-clipboard"
        ],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
